.FormComponent {
    position:relative;
    margin-top: -15px;
    z-index: 2;
    width: 35%;
    border-right: 180px solid transparent;
    border-top: 200px solid rgba(66, 183, 229, 0.9);
    border-left: 180px solid rgba(66, 183, 229, 0.9);
    border-bottom:200px solid rgba(66, 183, 229, 0.9);
}

.box {
    width: 580px;
    height: 330px;
    background: rgba(12, 71, 95, 0.5);
    position: absolute;
    margin-left: -140px;
    margin-top: -165px;
    border-radius: 10px ;
  }

  .round {
    border-radius: 10px ;
    border: 1px solid #000;
     padding: 20px; 
     height: 15px; 
     margin-top:20px; 
     text-align: center;
     font-weight: bold;
     font-size: 16px;
  }

  .buttonForm {
      background: orange;
      display: block;
      border: 1px solid orange;
      color:white;
      padding: 12px 50px;
      margin: 25px auto;
      border-radius: 30px ;
      font-weight: bold;
      font-size: 18px;
  }

  .buttonForm:focus {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  .textContent {
      position: absolute;
      margin-left: 800px;
      margin-right: 60px;
      margin-top: -240px;
      font-weight: bold;
      font-size: 40px;
      text-align:center;
  }

  .datepicker-round1 {
    border-radius: 10px ;
    border: 1px solid #000;
     padding: 20px; 
     height: 15px; 
     margin-top:20px; 
     text-align: center;
     font-weight: bold;
     font-size: 16px;
     margin-left: 40px;
     width:200px;
  }
  .datepicker-round2 {
    border-radius: 10px ;
    border: 1px solid #000;
     padding: 20px; 
     height: 15px; 
     margin-top:20px; 
     text-align: center;
     font-weight: bold;
     font-size: 16px;
     margin-left: 10px;
     width:200px;
  }